* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html, body {
    overflow-x: hidden;
}

/* Navigation Bar */

.navbar {
    opacity: 0.9;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: #656c5c;
}

.navbar a {
    float: right;
    color: #b96954;
    padding: 10px 16px;
    text-align: right;
    text-decoration: none;
    font-size: 20px;
}

.navbar #Home {
    float: left;
}

.navbar a:hover {
    color: #e85a4f;
}

/* Main Introductory Banner */

.mainbanner {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url('/static/images/spots.jpg');
    box-sizing: border-box;
}

.bannertext {
    color: black;
    font-size: 35px;
    position: relative;
    top: 220px;
    left: 30px;
}

/* Profile */

.profilesection {
    height: 900px;
    background:  #e4d3b7;
    box-sizing: border-box;
    
}

.profilesection h1 {
    position: relative;
    padding: 30px;
    font-size: 100px;
    color: #b96954;
    opacity: 0.5;
}

.profilesection h4, h2{
    position: relative;
    padding-bottom: 20px;
    text-align: center;
    font-size: 25px;
    color: #589880;
}

.profilesection p {
    position: relative;
    text-align: center;
    color: #656c5c;
    padding-bottom: 30px;
}

.find-out {
    background-color: #e85a4f;
    padding: 5px;
    border-radius: 5%;
}

.profilesection img {
    position: relative;
    max-height: 80px;
    max-width: 80px;
}

.profilesection table {
    position: relative;
    width: 80%;
    margin: auto;
    padding: 2px solid #e85a4f;
    border-spacing: 20px;
}

/* Skills */

.skillsection {
    height: 800px;
    background: #f4c48e;
    box-sizing: border-box;
}

.skilltext h1 {
    position: relative;
    padding: 30px;
    font-size: 100px;
    color: #b96954;
    opacity: 0.5;
}

.skilltext h2 {
    font-size: 20px;
    padding-top: 50px;
}

.skilltext p {
    display: block;
    height: 150px;
    width: 150px;
    line-height: 150px;

    -moz-border-radius: 80px; /* or 50% */
    border-radius: 80px; /* or 50% */

    background-color: #f4c48e;
    color: #589880;
    border: 7px solid #589880;
    text-align: center;
    font-size: 2em;
    margin: 20px;
}

#general {
    display: block;
    height: 150px;
    width: 150px;
    line-height: 20px;

    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */

    text-align: left;
    font-size: 15px;
}

.skilltext table {
    position: relative;
    width: 50%;
    margin: auto;
}

.skilltext label {
    position: relative;
    background-color: #e85a4f;
    text-align: center;
    color: white;
    display: inline-block;
    width: 100px;
    padding: 10px 130px;
    margin-bottom: 20px;
    border: 1px solid #e85a4f;
    border-radius: 2%;
}

.skilltext .shorten {
    padding: 10px 70px;
    width: 35px;
}

.skilltext label:hover {
    background-color: white;
    color: #e85a4f;
}

/* Projects */

.projectsection {
    height: 900px;
    background: #e4d3b7;
    box-sizing: border-box;
}

.projectsection h1 {
    position: relative;
    padding: 30px;
    font-size: 100px;
    color: #b96954;
    opacity: 0.5;
}

.projectsection table {
    background-color: white;
    position: relative;
    padding: 50px;
    border-radius: 5%;
    margin: auto;
}

.project-type {
    font-size: 30px;
    padding: 20px;
    background-color: #e85a4f;
}

.projectsection a img {
    position: relative;
    padding-top: 10px;
    max-width: 30px;
    max-height: 30px;
}

.project-image {
    position: relative;
    max-width: 200px;
    max-height: 200px;
    padding-right: 20px;
}

.projectsection h2 {
    position: relative;
    text-align: left;
    padding-top: 10px;
    color: #589880;
}

.projectsection p {
    color: #656c5c;
    padding-bottom: 10px;
}

.projectsection label {
    padding: 5px;
    border-radius: 5%;
    color: white;
    background-color: #e85a4f;
}

/* Contact */

.contact {
    height: 900px;
    color: #589880;
    background: rgb(58, 58, 58);
    box-sizing: border-box;
}

.contact table {
    position: relative;
    margin: auto;
    padding: 50px;
    border-spacing: 25px;
}

.contact-info {
    vertical-align: top;
    font-style: italic;
}

.contact-info img {
    max-width: 30px;
    max-height: 30px;
    padding: 5px;
    background-color: #e85a4f;
    border-radius: 30%;
}

.about-me {
    color: white;
    font-size: 15px;
}

.info {
    font-size: 13px;
}

.lastmessage ul {
    color: white;
}

.contact-info label {
    color: white;
    background-color: #e85a4f;
    border-radius: 5%;
    border: 2px solid #e85a4f;
    font-size: 30px;
    font-style: normal;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

.contact-info label img {
    vertical-align: middle;
}

.copyright {
    font-size: 13px;
    text-align: center;
    padding-top: 45px;
    color: white;
}