* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html, body {
    overflow-x: hidden;
}

/* Navigation Bar */

.navbar {
opacity: 1;
overflow: hidden;
position: fixed;
top: 0;
width: 100%;
}

.navbar a {
float: right;
color: white;
padding: 14px 16px;
text-align: right;
text-decoration: none;
font-size: 20px;
border-bottom: 1px solid orange;
}

.navbar #Home {
    float: left;
    font-size: 25px;
}

.navbar #Home:hover {
    padding: 14px;
}

.navbar a:hover {
background-color: black;
color: orange;
padding-bottom: 15px;
}

/* Main Introductory Banner */

.mainbanner {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url('/static/images/number1.jpeg');
    box-sizing: border-box;
}

.bannertext {
    color: white;
    font-size: 35px;
    position: relative;
    top: 220px;
    left: 30px;
}

/* Profile */

.profilesection {
    height: 20vh;
    background: rgb(221, 221, 221);
    box-sizing: border-box;
}

.profiletext {
    text-align: left;
    color: black;
}

.subprofile {
    height: 50vh;
    background: rgb(128, 110, 110);
    box-sizing: border-box;
}

.subprofile h1 {
    color: black;
    text-align: center;
    padding: 50px;
}

.subprofile img {
    position: relative;
    max-height: 80px;
    max-width: 80px;
}

.subprofile p {
    position: relative;
    color: purple;
}

.subprofile table {
    position: relative;
    width: 80%;
    margin: auto;
}

/* Skills */

.skillsection {
    height: 50vh;
    background: rgb(221, 221, 221);
    box-sizing: border-box;
}

.skilltext h1 {
    text-align: center;
    padding: 50px;
}

.skilltext table {
    position: relative;
    width: 80%;
    margin: auto;
}

.skilltext label {
    background-color: rgb(175, 16, 16);
    text-align: center;
    color: white;
    display: inline-block;
    width: 105px;
    padding: 10px 150px;
    margin-bottom: 20px;
    border: 1px solid rgb(175, 16, 16);
    border-radius: 2%;
}

.skilltext .shorten {
    padding: 10px 75px;
    width: 50px;
}

.skilltext label:hover {
    background-color: white;
    color: rgb(175, 16, 16);
}

/* Projects */

.projectsection {
    height: 12vh;
    background: rgb(128, 110, 110);
    box-sizing: border-box;
}

/* Contact */

.contact {
    height: 12vh;
    background: rgb(39, 39, 39);
    box-sizing: border-box;
}
