<!DOCTYPE html>

<html>

    <head>
        {% load static %}
        <link href="{% static '/css/main.css' %}" type="text/css" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="navbar">
                <a id="Home" href="https://robertoguerra.info/">RG</a>
                <a href="#Contact">CONTACT</a>
                <a href="#Projects">PROJECTS</a>
                <a href="#Skills">SKILLS</a>
                <a href="#Profile">PROFILE</a>
            </div>
            <section class="mainbanner">
                <div class="bannertext">
                    <h1>ROBERTO GUERRA</h1>
                    <p>SOFTWARE DEVELOPER</p>
                </div>
            </section>
        </header>
        
        <main>
            <section class="profilesection" id="Profile">
                <h1>PROFILE</h1>
                <h4>Welcome! My name is Roberto Guerra and I am a Software Developer.</h4>
                <p>
                    I am a software developer who specializes in Front End and Back End Development
                    <br>
                    as well as Graphical User Interface Applications.
                    <br>
                    <br>
                    I spend most of my time expanding my horizons in the world of code,
                    <br> 
                    learning new things to tackle new challanges!
                </p>
                <p>
                    <label><a href="#Contact">Find Out More</a></label>
                </p>

                <h4>Why work with me?</h4>
                <table>
                    <tr>
                        <td align="center">
                            <img src="{% static 'images/1.png' %}">
                        </td>
                        <td align="center">
                            <img src="{% static 'images/2.png' %}">
                        </td>
                        <td align="center">
                            <img src="{% static 'images/3.png' %}">
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <h2>Quick Learner</h2>
                            <p>
                                Studies and calculates
                                <br>
                                proper solutions to
                                <br> complicated and novel
                                <br>
                                problems.
                            </p>
                        </td>
                        <td align="center">
                            <h2>Passionate</h2>
                            <p>
                                Motivated and energized by code.
                                <br>
                                The first to jump on board and
                                <br>
                                begin tackling new issues.
                            </p>
                        </td>
                        <td align="center">
                            <h2>Communication</h2>
                            <p>
                                Prioritizes proper communication
                                <br>
                                and makes sure everyone is aware
                                <br>
                                of the mission. Is also bilingual and
                                <br>
                                fluent in both English and Spanish.
                            </p>
                        </td>
                    </tr>
                </table>
            </section>

            <section class="skillsection" id="Skills">
                <div class="skilltext">
                    <h1>SKILLS</h1>
                    <table>
                        <tr>
                            <td colspan="2"><label>Python 3</label></td>
                            <td colspan="2"><label>HTML</label></td>
                        </tr>
                        <tr>
                            <td colspan="2"><label>Django</label></td>
                            <td colspan="2"><label>CSS</label></td>
                        </tr>
                        <tr>
                            <td><label class="shorten">Kivy</label></td>
                            <td><label class="shorten">MySQL</label></td>
                            <td><label class="shorten">Git</label></td>
                            <td><label class="shorten">GitHub</label></td>
                        </tr>
                    </table>
                    <h2>What I Can Do With These Technologies</h2>
                    <table>
                        <tr>
                            <td><p>Front End</p></td>
                            <td><p>Back End</p></td>
                            <td><p id="general">
                                <br>
                                General Programming
                                <br><br>
                                GUI Applications,<br>Data Science,<br>Bots,<br>Etc.
                            </p></td>
                        </tr>
                    </table>
                </div>
            </section>

            <section class="projectsection" id="Projects">
                <h1>PROJECTS</h1>
                <table>
                    <tr>
                        <td class="project-type" align="center" colspan="2"><strong>Graphical User Interface Applications</strong></td>
                    </tr>
                    <tr>
                        <td>
                            <img class="project-image" src="{% static 'images/BBBanner.png' %}">
                        </td>
                        <td>
                            <h2>Budget Buddy</h2>
                            <p>
                                Constructed a graphical user interface that 
                                allows the user to establish budgets and keep 
                                track of earnings, spending, and savings. Just 
                                log in using whatever username or password you 
                                want, create a custom security question, and 
                                enter your own personal Budget Buddy dashboard 
                                to begin tracking your finances.
                            </p>
                            <label>Python 3</label>
                            <label>Kivy</label>
                            <br>
                            <a href="https://github.com/Robby-Codes/Budget-Buddy"><img src="{% static 'images/github.png' %}"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="project-image" src="{% static 'images/AMIcon.ico' %}">
                        </td>
                        <td>
                            <h2>Arithmetic Master</h2>
                            <p>
                                A graphical user interface developed to allow 
                                anyone to train their mental arithmetic skills. 
                                With this software, one can train their ability 
                                to perform mental addition, subtraction, 
                                multiplication, and division.
                            </p>
                            <label>Python 3</label>
                            <label>Kivy</label>
                            <br>
                            <a href="https://github.com/Robby-Codes/Arithmetic-Master"><img src="{% static 'images/github.png' %}"></a>
                        </td>
                    </tr>
                </table>

            </section>

        </main>
        
        <footer>
            <section class="contact" id="Contact">
                <table>
                    <tr>
                        <td class="lastmessage">
                            <h1>
                                Considering My Assistance?
                            <hr>
                            </h1>
                            <br>
                            <p>
                                My name is Roberto Guerra and I am a Front End Developer.
                                <br>
                                <br>
                                My journey as a self-taught software developer
                                <br>
                                began in 2018 when I was attempting to figure
                                <br>
                                out what it was that I wanted to accomplish in life.
                                <br>
                                I decided to give programming a shot and instantly
                                <br>
                                fell in love with it. I stand in absolute awe when
                                <br>
                                thinking of whats possible through code.
                                <br>
                                <br>
                                Currently, I am continueing to study new languages 
                                <br>
                                to further extend my capabilities. There is not much
                                <br>
                                else that I enjoy more than tackling a new project
                                <br>
                                using new tools I have learned.
                                <br>
                                <br>
                                Most of my free time, I spend working on projects and
                                <br>
                                expanding my knowledge base.
                                <br>
                                <br>
                                My favorite things to do as of yet include.
                            </p>
                            <br>
                            <br>
                            <ul>
                                <li>Front End Development</li>
                                <li>Back End Development</li>
                                <li>Graphical User Interface Applications</li>
                            </ul>
                        </td>
                        <td class="contact-info">
                            <h1>Connect With Me:</h1>
                            <hr>
                            <br>
                            <p><img src="{% static 'images/gps.svg' %}">Address: Hialeah, FL 33010</p>
                            <br>
                            <p><img src="{% static 'images/mail.svg' %}">Email: <a href="mailto:contact@robertoguerra.info">contact@robertoguerra.info</a></p>
                            <br>
                            <p><img src="{% static 'images/phone.svg' %}">Phone: (786) 230-6018</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="copyright">
                            <p>© 2020 Roberto Guerra</p>
                        </td>
                    </tr>
                </table>
            </section>
        </footer>
        
    </body>
    
</html>