<!DOCTYPE html>

<html>

    <head>
        {% load static %}
        <link href="{% static '/css/main.css' %}" type="text/css" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="navbar">
                <a id="Home" href="#Home">RG</a>
                <a href="#Contact">CONTACT</a>
                <a href="#Projects">PROJECTS</a>
                <a href="#Skills">SKILLS</a>
                <a href="#Profile">PROFILE</a>
            </div>
            <section class="mainbanner">
                <div class="bannertext">
                    <h1>ROBERTO GUERRA</h1>
                    <p>SOFTWARE DEVELOPER</p>
                </div>
            </section>
        </header>
        
        <main>
            <section class="profilesection">
                <div class="profiletext">
                    <br>
                    <h1>Welcome to my Portfolio!</h1>
                    <br>
                    <h4>My name is Roberto Guerra</h4>
                    <br>
                    <p>
                        I am a software developer who specializes in
                        Front End and Back End Development as well as
                        Graphical User Interface Applications.
                        <br>
                        I spend most of my time expanding my horizons in
                        the world of code, 
                        <br>
                        learning new things to tackle new challanges!
                    </p>
                </div>
            </section>

            <section class="subprofile">
                <table>
                    <tr>
                        <td>
                            <img src="{% static 'images/new.svg' %}">
                        </td>
                        <td class="moveright">
                            <p>
                                Studies and calculates
                                <br>
                                proper solutions to
                                <br> complicated and novel
                                <br>
                                problems.
                            </p>
                        </td>
                        <td>
                            <img src="{% static 'images/2.svg' %}">
                        </td>
                        <td class="moveright">
                            <p>
                                Motivated and energized by code.
                                <br>
                                The first to jump on board and
                                <br>
                                begin tackling new issues.
                            </p>
                        </td>
                        <td>
                            <img src="{% static 'images/3.png' %}">
                        </td>
                        <td class="moveright">
                            Somthing Somthing Dark Side
                        </td>
                    </tr>
                </table>
            </section>

            <section class="skillsection">
                <div class="skilltext">
                    <h1>My Technical Skill</h1>
                    <p>Python 3, Kivy, Django, HTML, CSS, Git, GitHub</p>
                </div>
            </section>

            <section class="projectsection">

            </section>

        </main>
        
        <footer>
            <div class="contact">

            </div>
        </footer>
        
    </body>
    
</html>