<!DOCTYPE html>

<html>

    <head>
        {% load static %}
        <link href="{% static '/css/main.css' %}" type="text/css" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="navbar">
                <a id="Home" href="#Home">RG</a>
                <a href="#Contact">CONTACT</a>
                <a href="#Projects">PROJECTS</a>
                <a href="#Skills">SKILLS</a>
                <a href="#Profile">PROFILE</a>
            </div>
            <section class="mainbanner">
                <div class="bannertext">
                    <h1>ROBERTO GUERRA</h1>
                    <p>SOFTWARE DEVELOPER</p>
                </div>
            </section>
        </header>
        
        <main>
            <section class="profilesection">
                <div class="profiletext">
                    <br>
                    <h1>Welcome to my Portfolio!</h1>
                    <br>
                    <h4>My name is Roberto Guerra</h4>
                    <br>
                    <p>
                        I am a software developer who specializes in
                        Front End and Back End Development as well as
                        Graphical User Interface Applications.
                        I spend most of my time expanding my horizons in
                        the world of code, 
                        <br>
                        learning new things to tackle new challanges!
                    </p>
                </div>
            </section>

            <section class="subprofile">
                <div class="subprofiletext">
                    <img src="{% static 'images/1.svg' %}">
                    <img src="{% static 'images/2.svg' %}">
                    <img src="{% static 'images/3.png' %}">
                </div>
            </section>

            <section class="skillsection">
                <div class="skilltext">
                    <p>Testing 1 2 3</p>
                </div>
            </section>
        </main>
        
        <footer></footer>
        
    </body>
    
</html>